.container {
  width: calc(100% - 30px);
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.app {
  width: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 100px;
  font-weight: 100;
  color: rgba(175, 47, 47, 0.15);
  margin: 65px 0 65px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .app {
    width:  100%;
  }

  h1 {
    font-size: 70px;
  }
}