input[type=checkbox] {display: none;}

.todolist__item {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.todolist__item li {
    width: 100%;
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
    word-break: break-all;
    padding: 15px 0 20px 0;
    line-height: 1.2;
}

.todolist__item li label {
    word-break: break-all;
    padding: 15px 60px 17px 70px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}


.todolist__item-delete {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 40px;
    color: rgba(175, 47, 47, 0.15);
    cursor: pointer;
    width: 65px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todolist__item-delete:hover {
    color: rgba(175, 47, 47, 1);
}

span {
    cursor: pointer;
}

.active {
    text-decoration: line-through;
    opacity: .5;
    cursor: pointer;
}

input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid #000;
    font-size: 35px;    
    line-height: 40px;
    margin: -5px 20px 0px -53px;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}

input[type=checkbox]:checked + label:before {
    color:rgba(175, 47, 47, 1);
}

@media screen and (max-width: 800px) {
    .todolist__item li {
        font-size: 22px;
    }
  }

  /* 
.toggle + label {
    background-image: url(/assets/circle.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
}

.toggle:checked + label {
    background-image: url(/assets/circleChecked.svg);
}  */

/* .toggle {
    text-align: center;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
} */